/*---------------------------------------------------------------------------------------------------------------------------------- 
                                This will be a stylesheet that we reference in the styling for our pages,
                              it will hold formatting, aesthetics, etc... for components of our html pages.
------------------------------------------------------------------------------------------------------------------------------------ */

/*------------------- Home Page Styling ------------------- */

.navbar-red /* Custom css to make the navbar red and text white (Currently no text) */
{
  background-color: #990000;
  color: #ffffff;
}

.nav-link /* Text style for the navbar links (buttons text) to be white and bright -> Matches footer */
{
  color: #ffffff; 
  opacity: 1;  
}

.nav-link:hover
{
  color:black !important;
  font-weight: bolder !important;
  transition: 0.3s;
}

.admin-link 
{
  color: #2735ba; 
  font-weight: bold;
  text-decoration: underline;
}

.footer-red /* Styling for the footer to match the nav. */
{
  background-color: #990000;
  color:#ffffff; /* The inline text-white attribute in the footer might be over-writing the color: #ffffff (white) but it can stay like this for now. */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.welcome-bubble
{
  background-color: #990000;
  color: #ffffff;
  width: 80%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  height: 200px;
  padding-top: 50px;;  
}

/* Dashboard CSS Section */

.card-outer
{
  background-color: #990000;
  color: #ffffff;box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

}

.card-body
{
  background-color: #333333;
  color: #ffffff;
}

.btn-red
{
  background-color: #990000;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.btn-gray
{
  background-color: #343434;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.image-container 
{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.MSU-image 
{
  max-width: 400px; /* We can adjust the size here */
  height: auto; 
  margin-top: 1rem;
}
/*------------------- Book Directory Styling ------------------- */

/* This code below is for the search bar*/
.search-container 
{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input
{
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 760px) 
{
  .search-input {
    width: 90%;
  }
}

/* ----------- Admin Dashboard CSS ------------ */

.card-montclair
{
  background-color: #4e4b4b;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.card-montclair .card-header 
{
  background-color: #990000;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

.btn-redDashb
{
  background-color: #990000;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  transition: 0.3s ease;
  padding: 10px 20px;
  margin: 10px 0;
}

.btn-redDashb:hover 
{
  background-color: #2735ba;
  color: #ffffff;
  border-color: #ffffff;
}

/* Admin-Block Section for Block 1 and 2 alternating */

.admin-block 
{
  width: 100%;
  background-color: #990000;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px; /* flat edges */
}

.admin-block-alt
{
  width: 100%;
  background-color: #343434;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0px; /* flat edges */
}

.admin-block h4 
{
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.admin-block p 
{
  text-align: center;
  margin-left: 1rem;
}

/*------------------- Persistent For All Pages Styling ------------------- */

footer /* Some extra spacing for all footers -> Could remove only did this for Home page as of now b/c there is no content */
{
  margin-top: 3rem;
}
