/*---------------------------------------------------------------------------------------------------------------------------------- 
                                This will be a stylesheet that we reference in the styling for our pages,
                              it will hold formatting, aesthetics, etc... for components of our html pages.
------------------------------------------------------------------------------------------------------------------------------------ */

/*------------------- Home Page Styling ------------------- */

.navbar.navbar-red /* Custom css to make the navbar red and text white (Currently no text) */
{
  background-color: #990000;
  color: #ffffff;
}

.navbar-nav .nav-link /* Text style for the navbar links (buttons text) to be white and bright -> Matches footer */
{
  color: #ffffff !important; 
  opacity: 1 !important;  
}

.footer-red /* Styling for the footer to match the nav. */
{
  background-color: #990000;
  color:#ffffff /* The inline text-white attribute in the footer might be over-writing the color: #ffffff (white) but it can stay like this for now. */
}

.image-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.MSU-image {
  max-width: 400px; /* We can adjust the size here */
  height: auto; 
  margin-top: 1rem;
}
/*------------------- Book Directory Styling ------------------- */

/* This code below is for the search bar*/
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input{
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media (max-width: 760px) {
  .search-input {
    width: 90%;
  }
}

/*------------------- Persistent For All Pages Styling ------------------- */

footer /* Some extra spacing for all footers -> Could remove only did this for Home page as of now b/c there is no content */
{
  margin-top: 3rem;
}
